# don't lint:
node_modules

# config files
.eslintrc.js
.eslintrc.cjs
.prettierrc.js
vite.config.ts
package.json
tsconfig.json
README.md

# don't lint build output
dist
build
lib
# don't lint unit-test coverage
coverage

bun.lockb